NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD="ЭНД_ЖИНХЭНЭ_НУУЦ_ҮГ"
DB_NAME=internship_system
JWT_SECRET=
PORT=3000
BASE_URL=http://localhost:3000
TRUST_PROXY=false
FORCE_HTTPS=false
CORS_ORIGINS=
SHOW_RESET_LINK=true